[submodule ".vim/pack/my-plugins/start/vim-airline-themes"]
	path = .vim/pack/my-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/my-plugins/start/vim-airline"]
	path = .vim/pack/my-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/my-plugins/start/vim-supertab"]
	path = .vim/pack/my-plugins/start/vim-supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/pack/my-plugins/start/vim-cpp-modern"]
	path = .vim/pack/my-plugins/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule ".vim/pack/my-plugins/start/vim-better-whitespace"]
	path = .vim/pack/my-plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".vim/pack/my-plugins/start/vim-gitgutter"]
	path = .vim/pack/my-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/my-plugins/start/vim-ctrlp"]
	path = .vim/pack/my-plugins/start/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
